<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white "> Produit Detail Component</div>
    <div class="card-body">
        <div *ngIf="produit ; else noContacts">
            <h3>Produit detail</h3>
            <div class="card" style="width: 25em;">
                <img [src]="produit.image?baseURL+'storage/files/'+produit.image:'../../assets/images/default-avatar.jpg'" class="card-img-top" alt="...">
                <!-- <div class="card-body">
                    <h5 class="card-title">{{produit.name}}</h5>
                  
                </div> -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center" ><strong >{{produit.name}}.</strong> </li>
                    <li class="list-group-item"><strong>Prix : </strong>{{produit.prix}}</li>
                    <li class="list-group-item"><strong>quantite : </strong>{{produit.quantite}}</li>
                    <li class="list-group-item"><strong>description : </strong>{{produit.description}}</li>
                    <li class="list-group-item"><strong>Categorie : </strong>{{produit.categorienamme}}</li>
                </ul>

                <button class="btn btn-info" (click)="addToPanier(produit)" >
                   Ajouter au Panier
                </button>
            </div>
        </div>
        <ng-template #noContacts>
            <p>Produit n'existe pas </p>
        </ng-template>
    </div>
</div>

